section{
  background-color: #eb4034;
  margin: 30vh 20vw;
  padding: 10vh 10vw;
  border-radius: 10px;
  font-family: Oswald;
  border: 2px solid white;
}

button{
  border-radius: 8px;
  padding: 1vh 5vw;
  border: 1px solid white;
  font-family: Oswald;
  color: white;
  background-color: black;


}
body{
  background-color: #e3ab44
}
