p{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;

}

h1, h2{
  font-family: 'Montserrat', sans-serif;

}

#hero{
  width:100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;

}

#hero img{
  width:100vw;
  overflow: hidden;
  position: relative;
  top: 10vh;

}

#hero2{
  z-index: 1;
  position: relative;

}

body {
  padding: 0px;
}

#hero, h1{
  z-index: 1;
  position: relative;
  font-size: 7vw;

}

h1 {
  top: 45vh;
  color: white;
}

  button{
    background-color: #ebbd34;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 10px;


  }
  button:active{
    background-color: #a85032;
  }
  button:hover{
    border: solid black 3px;
  }
  a:link{
    color:blue;
  }
a:active{
  color:red;
}
a:visited{
  color:lightgrey;
}
a:hover{
  font-size:200%;
  color: red;
}
